/* 4 - External CSS */
body {
  padding-bottom: 500px;
}
h3 {
  color: green;
}
/* p {
  color: blueviolet;
} */

/* Classes */

.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* IDS */

#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
}

/* Ordem das Regras */

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}
/* RGB */
.rgb {
  color: rgb(255, 0, 0);
}
.mixed-rgb {
  color: rgb(199, 40, 147);
}

/* RGB-A */

.rgba {
  color: rgba(164, 70, 102, 0.5);
}

/* HSL */

.hsl-simple {
  color: hsl(30, 20%, 50%);
}
.hsl-simple2 {
  color: hsl(200, 50%, 10%);
}

/* Background */

.bg {
  background-color: #000;
  color: yellow;
}

.bg-2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* Opacidade no Background */

.bg-op {
  background-color: green;
  opacity: 0.2;
}
.bg-op2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* RGBA COM OPACIDADE */

.rgba-op {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

/* BG image */

.bg-image {
  background-image: url("../assets/nature.jpg");
  padding: 10px;
  color: white;
}

/* Centralizando Bg Image */

.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 400px;
  background-image: url("../assets/bridge.jpg");
}

.centered-bg {
  background-position: center;
  background-size: cover;
}

/* Largura e Altura */

.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}
.height-width-2 {
  height: 300px;
  background-color: #333;
}

/* Padding */
