html {
  font-family: Helvetica;
  background-color: #add8e6;
  background-image: linear-gradient(100deg, #add8e6, #000);
}
.container {
  max-width: 1100px;
  background-color: #fff;
  position: relative;
  margin: 50px auto;
  padding: 20px 50px;
}

.bold {
  font-weight: bold;
}

/* Header */

.header {
  text-align: center;
}

.main-title {
  font-size: 40px;
}
.main-paragraph {
  font-style: italic;
}
.featured-image {
  text-align: center;
  margin-top: 30px;
}
/* biografia */

.biography-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #b0c4de;
  border-bottom: 1px dashed #b0c4de;
}

/* Quotes */

.quotes-container {
  background-color: #b0c4de;
  padding: 30px;
}

.quotes-container blockquote {
  font-weight: bold;
  font-size: 30px;
}

.quotes-container p {
  font-style: italic;
}

/* curiosidades */

.curiosities-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #b0c4de;
  border-bottom: 1px dashed #b0c4de;
}
.curiosities-container li {
  height: 30px;
}

/* imagem bold */

.img-bold {
  font-style: bold;
  text-align: center;
}

.sticky {
  width: 100px;
  height: 200px;
  border: 1px solid #000;
  position: fixed;
  top: 50px;
  right: 5px;
}
.img-stycky {
  height: 200px;
  width: 100px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}
